{% extends 'base.html.twig' %}

{% block title %}Mission Statement{% endblock %}

{% block stylesheets %}

{#    <link href="/css/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="/css/font-awesome.min.css" rel="stylesheet">#}
{#    <link href="/css/bootstrap-datepicker3.min.css" rel="stylesheet">#}
{#    <link href="/css/sweetalert.css" rel="stylesheet" type="text/css">#}
{#    <link href="/css/reg-form.css" rel="stylesheet" type="text/css">#}
{#    <link rel="stylesheet" href="/css/style.css">#}
{#    <link rel="stylesheet" href="/css/materialize.css">#}
{#    <link rel="stylesheet" href="/css/bootstrap.css">#}
{#    <link rel="stylesheet" href="/css/mob.css">#}
    <style type="text/css">
        /*.pac-container:after {
            !*Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown*!
            background-image: none !important;
            height: 0px;
        }*/
        section{
            background-image: url('/images/face.jpg');

        }
        .card {
            width: 80%;
            margin: 0 auto;
        }
        .card-body {
            /*padding:100px;*/
            padding-right: 100px;
            padding-left: 100px;
        }
        .text-center{
            font-size: 24px;
            margin: 17px 0 30px;
            font-weight: bold;
            color: #33691E;
            font-family: "Quicksand", sans-serif;
        }
        .card-body p{
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            line-height: 1.5pc;
            font-size: .151041667in;
            box-sizing: border-box;
        }
        @media screen and (max-width: 767px) {
            .card {
                width: 90%;
                padding: 20px;
            }
            .card-body {
                width: 90%;
                padding: 5px;
            }
        }
        .dropdown:hover .dropdown-menu {
            display: none;
        }

        .main-menu-v2 ul {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}


    <!--DASHBOARD-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h2 class="text-center mb-4">Mission Statement</h2>
                            <p>United States Transit Funding, Inc., the parent company of iPassenger, Inc., provides business services and technology products for the passenger-carrier transportation and transit industry of which includes our eMotorcoach©, eRideShare©, iPassenger© and eLimousines© product lines.</p>
                            <p>As a leading provider of business services for the passenger-carrier transportation and transit industry, the principals and shareholders of iPassenger, Inc. believe in providing end-to-end solutions which increase utilization and value for consumers while helping all forms of transportation and transit providers deliver safe, effective and affordable service.</p>
                            <p>The entire team at United States Transit Funding, Inc. and iPassenger, Inc. believe in delivering an array of business services which includes state-of-the-art technology products.</p>
                            <p>With the launch of iPassenger, Inc., we remain focused on technology product development through Software as a Service (SaaS) and Mobility as a Service (MaaS) for the passenger-carrier transportation and transit industry that is fun, secure, stable and backed up with quality technical support.</p>
                            <p>Since the initial development of our technology product lines in 2018, the team of iPassenger, Inc. has focused on developing functional requirements which include each of the following: (1) Sales Management, (2) Dispatch and Driver Management, (3) Customizing Reservation and Booking Processes for Consumers, (4) End-to-End Communications Including Chat, (5) Eliminating Brokers and 3rd Parties while Enhancing Consumer Interaction, and (6) Enhanced Technology Integration.</p>
                            <p>Over the last six years, and through the support of many business clients, the leadership of iPassenger, Inc. has heard from business service clients and consumers on the form and function you want to see in technology and ensuring that your technology receives the support needed to sustain the test of time.</p>
                            <p>Finally, in the decade of service to the passenger-carrier transportation and transit industry, one item that we are hopeful that will be addressed through our technology solutions, is the issue of driver shortage.</p>
                            <p>We are pleased to announce any technology client of iPassenger, Inc. will be able to have their USDOT-qualified drivers receive the ability of free access to our platform so that, during their off-time, they are able to provide ride sharing and/or personal vehicle transportation as long as they are an employee of a technology client.</p>
                            <p>Also, we are dedicated to eliminating the chronic driver shortage that has been exacerbated during the COVID-19 pandemic as well as the need to increase labor through key areas including qualified mechanics.</p>
                            <p>We are very pleased to serve each and every client who has been supporting our vision to deliver our iPassenger, Inc. product lines and we cannot wait to deliver what is in store for you going forward including meeting the needs of other strategic partners who are seeking to do business with you and consumers who are looking for a one stop shop through a technology platform without the added expense of doing business with 3rd parties like bus brokers and TNC’s.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--END DASHBOARD-->
{% endblock %}

